<h1>Editing microblog_post</h1>

<%= error_messages_for :microblog_post %>

<% form_for(@microblog_post) do |f| %>
  <p>
    <b>Content</b><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <b>Created at</b><br />
    <%= f.datetime_select :created_at %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @microblog_post %> |
<%= link_to 'Back', microblog_posts_path %>
